body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
  background-color: #212427;
  color: #d1d1d1;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 0;
  color: #4a80b5;
}

p {
  font-size: 22px;
  margin: 14px 0;
}

.home-btn {
  text-decoration: none;
  color: #e8e8e8;
  background-color: #313743;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background 0.3s;
  margin: 20px 0;
}

.home-btn:hover {
  background-color: #57606f;
}
