@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  font-family:
    "Pretendard Variable",
    "Pretendard" system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #212427;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Pretendard Variable", "Pretendard";
  letter-spacing: -1px;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
